*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
#gameField{
    position: absolute;
    margin:0 auto;
    padding: 0;
    background-color: green;
}
#ball{
    float: left;
    margin: 0;
    position: relative;
    background: red;
}
    .eyes{
        margin: 0;
        padding: 20% 20% 10% 20%;
        display: flex;
        justify-content: space-between;
    }
        .eye{
            width: 15%;
            height: 15%;
            border-radius: 50%;
            background-color: black;
        }
    .lips{
        margin: 0 auto;
        width: 40%;
        height: 20%;
        border-radius: 50%;
        background-color: black;
    }

#wall{
    margin: 0;
    position: relative;
    background-color: #3a1717;
}